@use 'sass:color';
@use 'sass:meta';

@use '../colors.scss' with (
  $primary: #000000,
  $fg-map-keys: (),
  $bg-map-keys: ()
);
@use '../base.scss' with (
  $color-bg-grad-spread: 0%,
  $border-radius: 0px
);


.theme-engineering {
  // Atomic classes
  @include meta.load-css('../atomic/color.scss');

  // Components
  @include meta.load-css(
    '../components/Button.scss',
    $with: (
      'color-default': #a7710e,
      'color-disabled': #363636,
      'color-selected': #767773,
      'color-caution': #be6209,
      'color-danger': #9a9d00
    )
  );
  @include meta.load-css(
    '../components/NumberInput.scss',
    $with: ('border-color': #ffffff)
  );
  @include meta.load-css(
    '../components/ProgressBar.scss',
    $with: ('color-background': rgba(0, 0, 0, 0.5))
  );
  @include meta.load-css('../components/Section.scss');
  @include meta.load-css('../components/LabeledList.scss');

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css(
    '../layouts/TitleBar.scss',
    $with: (
      'color-background': #a7710e
    )
  );

  .Button {
    border-color: #858282;
    border-width: 2px;
    border-style: solid;
    color: #080808;
    }

  .LabeledList {
    color: #000000;
  }

  .TitleBar{
    color: #ffa600;
    $color-stripes: #000;
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 10px,
      $color-stripes 10px,
      $color-stripes 20px)
  }

  .Table{
    color:#9e9e9d

  }

}
